@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap');
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Global */
body {
    font-family: "Josefin Sans", sans-serif;
    min-height: 100vh;
    background: linear-gradient(135deg, #2f2f2f, #5a5252, #e3e3e3);
    color: #f5f5f5;
}
/* Section */
.a-propos {
    min-height: 100vh;
    padding: 80px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Conteneur principal */
.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    max-width: 1100px;
}
/* Image */
.a-propos img {
    width: 100%;
    max-width: 380px;
    border-radius: 20px;
}
/* Texte */
.text-a-propos {
    max-width: 550px;
}
.text-a-propos h1 {
    font-size: 42px;
    margin-bottom: 15px;
}
.text-a-propos h5 {
    font-size: 26px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: #e0e0e0;
}
.text-a-propos p {
    font-size: 18px;
    line-height: 1.7;
    text-align: justify;
    margin-bottom: 35px;
    color: #f0f0f0;
}

span {
    color: #ffdd8d;
}

/* Boutons */
.button-group {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

button {
    background: #ffffff;
    color: #222;
    font-weight: 600;
    padding: 13px 28px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
}

/*Responsive */
@media (max-width: 900px) {
    .main {
        flex-direction: column;
        text-align: center;
    }

    .text-a-propos p {
        text-align: center;
    }
    .button-group {
        align-items: center;
        justify-content: center;
    }
}
.social-links {
  display: flex;
  gap: 20px;
  font-size: 30px; /* Taille des icônes */
}

.social-icon {
  text-decoration: none;
  color: #333; /* Couleur par défaut (gris foncé) */
  transition: transform 0.3s, color 0.3s;
}

/* Effet au survol : les icônes prennent leur couleur officielle */
.youtube:hover { color: #FF0000; }
.whatsapp:hover { color: #25D366; }
.x-twitter:hover { color: #000000; }
.linkedin:hover { color: #0077B5; }
.discord:hover { color: #5865F2; }

.social-icon:hover {
  transform: translateY(-5px); /* Petit saut vers le haut */
}
/* Flouter le texte */
.text-masquer {
  filter: blur(12px);
  opacity: 0.3;
  transition: all 0.5s ease-in-out;
}
.text-masquer:hover {
  filter: blur(0);
  opacity: 1;
}